@import '../../../../../../../assets/less/colors.less';
.communtiy-section{
    padding: 40px 0;
    @media (min-width: 769px){
        width: 80%;
        margin: 0 auto;   
    }

    & .card .description{
        text-align: center;
    }
    .communities {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        @media (max-width: 767px){
            grid-template-columns: 1fr;
        }
    }
}
