@import '../../../../assets/less/colors.less';

.panel{
    background: #fff;
    box-shadow: 0 3px 10px 0 rgba(5,50,69,.18);
    @media (max-width: 767px){
        width: 80%;
        margin: auto;
    }

    .title{
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid @border-pink;
        font-size: 22px;
    }

    .desc{
        padding: 20px 10px;
        font-size: 19px;
        text-align: left;
        border-bottom: 1px solid @border-pink;
        @media (max-width: 767px){
            font-size: 17px;
        }
    }

    .info{
        display: flex;
        padding: 10px 20px;

        .contact-info{
            padding-left: 20px;
            h4{
                font-size: 17px;
                margin: 10px 0 0 0;
            }
            .contact-number{
                font-size: 15px;
                font-weight: 400;
                font-style: italic;
            }    
        }
        .profile-img{
            img{
                border-radius: 50%;
                width: 75px;
            }
        }
    }
}