/* You can add global styles to this file, and also import other style files */

@import './assets/less/colors.less';

* {
    outline: none;
}

body {
    margin: 0;
    background-color: @primary-light-color;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: @text-black;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none !important;
}